/* It is recommended to place all your extra/additional CSS rules here */
body {
    font-family: "PingFang SC","Noto Sans CJK","Source Han Sans","Microsoft Yahei",source-han-sans-simplified-c,sans-serif;
    color; #fff;
    line-height: 1.5;

}
p {
    line-height: 1.8;
    font-family: "PingFang SC","Noto Sans CJK","Source Han Sans","Microsoft Yahei",source-han-sans-simplified-c,sans-serif;
}

/* 小屏幕隐藏 */
/* .tabpanel.styled-tabs ul.nav[text-hidden-xs="true"] > li > a > span { display:none; } */


h2 {
    color: #F7CFA5 !important;
    line-height: 1.6;
    font-weight: 400;
}

h3 {
    color: #F7CFA5 !important; 
}
.in-color {
    color: #F7CFA5 !important; 
}

@media (max-width: 767px) {
    h2 {
        font-size: 2.0rem;
    }
    p {
        font-size: 18px;
    }
    #main-content {
        margin-top: -10px;
    }
   
}

@media (min-width: 767px) {
    #main-content .grid .icon {
        margin: 0 0 0 90px;
    }
}

@media (min-width: 767px) {
    #tabs .grid .icon {
        margin: 0 0 0 240px;
    }
}


@media (max-width: 768px) { 
    .content-wrapper .icon img {
        display: none;
    }
    #main-content .carousel .icon:after {
        display: none;
    }
    #main-content .carousel .text-content p{
        display: none;
    }
    #main-content .carousel .txt-card {
        display: none;        
    }
    #main-content .carousel .carousel-control {
        top: 36%;
        bottom: 0;
        width: 6%;
    }
    #main-content .carousel .carousel-inner {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .years img {
        display: none;
    }  
}
@media (min-width: 767px) {
    .content-wrapper h3 {
        display: none;
    }
    .years-xs img {
        display: none;
    }  
} 


.years img {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
}

.years-xs img {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
}

.padding-top-0 {
    padding-top: 3rem;
}

img.logo {
    /* height: 80px; */
}

.icon-logo img {
    width: 50px; 
    margin-bottom: 14px;
}

.icon img {
    width: 90px; 
    /* padding-top:.8rem; */
}

.icon-1 {
    margin-left: -60px;
}


.icon-1 img {
    width: 52px; 
    position: relative;
    bottom: 22px;
    left: 20px;
}

.map {
    padding-top: 20px;
}

.padding-top-1 {
    padding-top: 30px;
}


.padding-top-2 {
    padding-top: 40px;
}


.padding-top-3 {
    padding-top: 60px;
}

.txt-white {
    color: #fff;
}

.txt-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 28px 36px 42px 36px;
    border: 1px solid #e1e7ec;
    background-color: transparent;
}

@media (max-width: 768px) {
    .txt-card {
        padding: 20px 18px 10px 18px;
    }
}

#main-content .carousel .icon {
    display: block;
    position: relative;
    width: 24%;
    height: auto;
    float: left;
    padding: 10px 2%;
}

#main-content .carousel .icon:after {
    position: absolute;
    content: '';
    right: -2%;
    top: 1%;
    margin: auto;
    bottom: 0;
    width: 2px;
    height: 42px;
    background: currentColor;
}

#main-content .carousel .text-content {
    display: block;
    padding-left: 28%;
}

#main-content .carousel .item p {
    line-height: 1.6;
    margin: 1.6em 0;
    font-size: 1.8rem;
}

.text-left {
    text-align: left !important;
}
                    

.space-1 {
    padding-top: 60px;
    padding-bottom: 10px;
}

.space-2 {
    padding-top: 80px;
    padding-bottom: 20px;
}

.bg-content {
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
    border: none;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 2px 40px rgba(0,0,0,0.3);
    box-shadow: 0 2px 40px rgba(0,0,0,0.3);
    background-clip: padding-box;
}

.bg-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.bg-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 24px;
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    flex-direction: row;
}

.navbar-collapse {
    display: block;
    position: relative;
    padding: 0 12%;
    overflow: visible;
    min-height: 1px;
    font-family: 'open_sanslight', sans-serif;
    -webkit-transform: translate3d(0,0,0);
}

    @media (min-width: 767px) {
        .navbar-collapse {
            padding: 5% 12%; 
        }
    }
    @media (max-width: 767px) {
        .navbar-nav {
            margin: 42px 5px;
        }
    }
    

#right-lan .navbar-nav > li.nav-item > a {
    margin: 30px 12px;
    color: #fff;
}
#right-lan .navbar-nav > li.nav-item > a {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 2px;
}
#right-lan .navbar-nav > li.nav-item > a:hover {
    /* border-bottom: 2px solid gray; */
    color: #999;
}








