* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #DDD;
}

section {
  margin: 0 auto;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

img {
  width: 100%;
  height: auto;
}

.item {
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  float: left;
  width: 100%;
  margin-right: 0px;
  margin-bottom: -4px;
  /* height: 200px; */
  background: gray;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  visibility: hidden;
}

.item:nth-child(2n) {
  margin-right: 0;
}

.item.slide-from-bottom,
.item.slide-from-top {
  visibility: visible;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.item.slide-from-bottom {
  -webkit-animation-name: slide-from-bottom;
  animation-name: slide-from-bottom;
}

.item.slide-from-top {
  -webkit-animation-name: slide-from-top;
  animation-name: slide-from-top;
}

@media (max-width: 400px) {
  .item {
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    margin-right: 0;
  }
}
@-webkit-keyframes slide-from-bottom {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0%, 200%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-from-top {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0%, -200%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-from-bottom {
  from {
    opacity: 0;
    transform: translate3d(0%, 200%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-from-top {
  from {
    opacity: 0;
    transform: translate3d(0%, -200%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}